{% extends "base/site_base.html" %}
{% load staticfiles %}

{% block extra_script %}
<script type="text/javascript" src="{% static 'js/stupidtable.min.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function(){
       $("#simpletable").stupidtable(); 
    });
</script>
{% endblock %}

{% block head_title %}{{ title }}{% endblock %}

{% block body %}
<div class="row">
    <div class="span10 offset1">
        <div class="well">
            <form action="" method="post">{% csrf_token %}
				Filter Name: <input type="textbox" id="filter" name="filter" />
				<button class="btn btn-small btn-primary" type="submit">Filter</button>
				<button class="btn btn-small" type="button" onclick="window.location = '{% url 'reports' %}' ">Clear</button>
			</form>
		</div><br / >
		<table class="table table-striped table-condensed" id="simpletable">
		    <thead>
        		<tr>
        			<th data-sort="string">Item #</th>
        			<th data-sort="string">Description</th>
        			<th data-sort="string">Vendor</th>
        			<th data-sort="int">Quantity</th>
        			<th data-sort="string">Cost</th>
        			<th><span class="pull-right">Total</span></th>
        		</tr>
        	</thead>
        	<tbody>
        		{% for item in items %}
        		<tr>
        			<td>{{ item.item_number }}</td>
        			<td>{{ item.description }}</td>
        			<td>{{ item.vendor_name }}</td>
        			<td>{{ item.quantity }}</td>
        			<td>${{ item.cost|floatformat:2 }}</td>
        			<td><span class="pull-right">${{ item.grand_total|floatformat:2 }}</span></td>
        		</tr>
        		{% endfor %}
        	</tbody>
        </table><br />
        <table class="table">
    		<tr>
        		<th colspan="6">
        		    <div class="pull-right">
        		        GRAND TOTAL
        		    </div>
        		</th>
    		<tr/>
    		<tr>
    		    <td colspan="6">
    		        <div class="pull-right">
    		            <strong>${{ grandtotal|floatformat:2 }}</strong>
    		        </div>
    		    </td>
    		</tr>
    	</table>
    </div>    
</div>
{% endblock %}