{% load staticfiles %}
{% load url from future %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8" />
        <title>{% block head_title_base %}Taylor Inventory | {% block head_title %}{{ title }}{% endblock %}{% endblock %}</title>
        {% block viewport %}
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}

        {% block style_base %}
            <link href="{% static "pinax/css/theme.css" %}" rel="stylesheet">
            <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
            <link href="{% static "bootstrap/css/bootstrap-responsive.css" %}" rel="stylesheet">
            {% block extra_style %}
                <link href="{% static "css/fratelli.css" %}" rel="stylesheet">
            {% endblock %}
        {% endblock %}

        {% block html5shim %}
            <!-- HTML5 shim, for IE6-8 support of HTML elements -->
            <!--[if lt IE 9]>
                <script src="{% static "pinax/js/html5shiv.js" %}"></script>
            <![endif]-->
        {% endblock %}

        {% block extra_head_base %}
            {% block extra_head %}{% endblock %}
        {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}" id="{% block body_id %}{% endblock %}">
        <div id="header" class="navbar-fixed-top">
            <div id="fratellilogo">
                <div id="fratellitext">Taylor Inventory</div>
            </div>
        {% block topbar_base %}
            <div class="navbar navbar-inverse navbar-static-top">
                <div class="navbar-inner">
                    <div class="container">
                        {% block topbar %}
                            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </a>
                            <div class="nav-collapse">
                                {% block nav %}
                                    <ul class="nav">
                                        {% if user.is_authenticated %}
                                        <li><a href="{% url "ship_inventory" %}">Shipping</a></li>
                                        <li><a href="{% url "receive_inventory" %}">Receiving</a></li>
                                        <li><a href="{% url "list_inventory" %}">Inventory</a></li>
                                        <li><a href="{% url "reports" %}">Reports</a></li>
                                        {% endif %}
                                    </ul> 
                                    <ul class="nav pull-right">
                                        {% if user.is_authenticated %}
                                        <li class="dropdown pull-right">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                Logged in
                                                <b class="caret"></b>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><b>{{ user.first_name }} {{ user.last_name }}</b></li>
                                                <li class="divider"></li>
                                                <li><a href="{% url "history" %}">Show History</a></li>
                                                <li class="divider"></li>
                                                <li><a href="{% url "acct_logout" %}">Logout</a></li>
                                            </ul>
                                        </li>
                                        {% else %}
                                        <li><a href="{% url "acct_login" %}">You Must Login</a></li>
                                        {% endif %}
                                    </ul>
                                {% endblock %}
                            </div>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}

        {% block body_base %}
            <div class="container" style="padding-top:20px;">
                {% for message in messages %}
                    <div class="alert fade in {% if message.tags %} alert-{{ message.tags }}{% endif %}">
                        <a class="close" href="#" data-dismiss="alert">&times;</a>
                        {{ message }}
                    </div>
                {% endfor %}
                {% block body %}
                {% endblock %}
                {% block footer_base %}
                    <hr />
                    <footer>
                        {% block footer %}
                        <div class="legal">
                            &copy; 2009-2013 Fratelli Computing
                        </div>
                        {% endblock %}
                    </footer>
                {% endblock %}
            </div>
        {% endblock %}

        {% block script_base %}
            <script src="{% block jquery_src %}{% static "pinax/js/jquery.js" %}{% endblock %}"></script>
            <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
            <script src="{% static "pinax/js/theme.js" %}"></script>
            {% block extra_script %}{% endblock %}
        {% endblock %}

        {% block extra_body_base %}
            {% block extra_body %}{% endblock %}
        {% endblock %}
    </body>
</html>
