<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 

"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Webvig Solutions | {{ subtitle }}</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://media.fratellicomputing.com/css/inventory.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-675462-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<div id="wrapper">
<!-- start header -->
<div id="header">
	<div id="logo">
		<img src="http://media.fratellicomputing.com/images/Webvig-logo_horizontal-medium.gif" />
	</div>
	<div id="menu">
		<ul>
			<li class="current_page_item"><a href="{% url inventory %}">Home</a></li>
			<li><a href="{% url shipping %}">Shipping</a></li>
			<li><a href="{% url receiving %}">Receiving</a></li>
            <li><a href="{% url reports %}">Reports</a></li>
			<li><a href="/admin/">Administration</a></li>
			{% if user.is_authenticated %}
			<li><a href="/inventory/accounts/logout/">Logout</a></li>
			{% endif %}
		</ul>
	</div>
</div>
<!-- end header -->

